{% extends 'base.html.twig' %}

{% block title %}Site du collectif la prairie Le Mans - Home{% endblock %}

{% block body %}

<div class="container-fluid">

    {# Articles boucle #}
    {# <div class="row">
        <div class="col-md-12">
            <h1>Liste des evenements</h1>
            <ul>
                {% for e in posts %}
                <li>
                    <h2>{{ e.title }}</h2>

                    <p>{{ e.content }}</p>

                    <a href="{{ path('app_like', {'id': e.id}) }}" class="btn btn-link js-like" data-action="like">
                        {% if app.user and e.isLikedByUser(app.user)%}
                        <i class="fa-solid fa-thumbs-up" style="color: #26a646;"></i>
                        {% else %}
                        <i class="fa-regular fa-thumbs-up"></i>
                        {% endif %}
                        <span class="js-likes">{{e.likes | length}}</span>
                        <span class="js-label">J'AIME</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div> #}


    <div class="row my-5">
        <div class="col-md-2"></div>
        <div class="col-md-8 rounded" style="background-color: white;">
            <div class="row">
                <div id="carouselArticle" class="carousel carousel-dark slide shadow-sm" data-bs-ride="carousel">

                    <!-- Indicators/dots -->
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselArticle" data-bs-slide-to="0"
                            class="active"></button>
                        <button type="button" data-bs-target="#carouselArticle" data-bs-slide-to="1"></button>
                        <button type="button" data-bs-target="#carouselArticle" data-bs-slide-to="2"></button>
                    </div>

                    <!-- The slideshow/carousel -->
                    <div class="carousel-inner">
                        <div class="carousel-item active rounded" style="max-height: 25rem;">
                            <img src="../img/site/eupatoire.jpg" alt="Los Angeles" class="d-block w-100"
                                style="height: 100%; object-fit: cover;">
                        </div>
                        <div class="carousel-item rounded" style="max-height: 25rem;">
                            <img src="../img/site/eupatoire.jpg" alt="Chicago" class="d-block w-100">
                        </div>
                        <div class="carousel-item rounded" style="max-height: 25rem;">
                            <img src="../img/site/eupatoire.jpg" alt="New York" class="d-block w-100">
                        </div>
                    </div>

                    <!-- Left and right controls/icons -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselArticle"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselArticle"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    {# Encart passez à l'action #}
    <div class="row my-5">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row rounded shadow-sm" style="background-color: white;">
                <h1 class="text-center pt-5"> Passez à l'action ! </h3>

                <div class="card m-3" style="width: 25rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

                <div class="card m-3" style="width: 25rem; background-image: url('../img/site/vert.jpg;')">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

                <div class="card m-3" style="width: 25rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>



</div>


{% endblock %}

{# {% block javascripts %}
<script>

</script>
{% endblock %} #}