{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 rounded bg-white my-5">
                <h1>Ajout d'un article</h1>
                {{ form(form) }}
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock body %} 