{% extends 'base.html.twig' %}

{% block header %}
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div id="banner">
                <div class="row rounded p-3 opacity-100 d-flex align-items-center shadow-sm"
                    style="background-color: white;">
                    <div class="text-center">
                        <h2 class="display-3 fw-bolder">
                            <img src="../img/site/eupatoire.jpg" alt="" style="max-width: 5rem;">
                            Passez à l'action
                            <img src="../img/site/eupatoire.jpg" alt="" style="max-width: 5rem;">
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div id="banner">
                <div class="row rounded p-3 opacity-100 d-flex align-items-center shadow-sm"
                    style="background-color: white;">
                    <div class="text-center">
                        <h2 class="display-3 fw-bolder">
                            <img src="../img/site/eupatoire.jpg" alt="" style="max-width: 5rem;">
                            Passez à l'action
                            <img src="../img/site/eupatoire.jpg" alt="" style="max-width: 5rem;">
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}