{% extends 'base.html.twig' %}

{% block header %}
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div id="banner">
                <div class="row rounded p-3 opacity-100 d-flex align-items-center shadow-sm bg-white">
                    <div class="text-center">
                        <h2 class="display-3 fw-bolder">
                            <img src="../img/site/eupatoire.jpg" alt="" style="max-width: 5rem;">
                            Passez à l'action
                            <img src="../img/site/eupatoire.jpg" alt="" style="max-width: 5rem;">
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row">
                <div class="card mb-3 shadow border-success border-5">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="\img\site\donmonetaire.PNG" class="img-fluid rounded py-4 px-2" alt="Image nos valeurs">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body h-100">
                                <div class="row h-100">
                                    <h2 class="card-title text-center">Dons monétaires (Hello asso)</h2>
                                    <p class="card-text">
                                        Vous aimez notre projet, et vous souhaitez nous aider financièrement? <br>
                                        Il est possible de faire un don sur Hello asso
                                        <a href="https://www.helloasso.com/associations/la-passerelle-jardin-communautaire" target="_blank">ICI !</a>
                                        <br>
    
                                    </p>
                                    <p class="card-text d-flex align-items-end justify-content-end"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="card mb-3 shadow border-info border-5">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body h-100">
                                <div class="row h-100">
                                    <h2 class="card-title text-center">Dons matériels</h2>
                                    <p class="card-text">Vous voulez faire don de matériel, avec plaisir! <br>
                                        Ils nous aident à avancer dans nos projets!<br>
                                    Nous recherchons : du foin, des planches, des abris de jardin, des fourches, gants... <br>
                                </p>
                                    <p class="card-text d-flex align-items-end justify-content-end"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="\img\site\materiels.PNG" class="img-fluid rounded py-4 px-2" alt="Image nos engagements">
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="card mb-3 shadow border-warning border-5">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="\img\site\jardiner.PNG" class="img-fluid rounded-start py-4 px-2" alt="Image Notre projet">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body h-100">
                                <div class="row h-100">
                                    <h2 class="card-title text-center">Don de temps</h2>
                                    <p class="card-text">Il y a toujours quelque chose à faire à la prairie ! <br>
                                    Désherbage, lutte contre la renouée, plantations, réhaussement des bacs de cultures, </p>
                                    <p class="card-text d-flex align-items-end justify-content-end"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}