<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
                            <div id="banner">
                                <div class="row rounded p-3 opacity-100 d-flex align-items-center shadow-sm" style="background-color: white;">
                                    <div class="col-8 col-12-medium">
                                        <div class="text-center">
                                            <div class="row">
                            
                                                <h2 class="display-3 fw-bolder">
                                                    <img src="../img/site/eupatoire.jpg" alt="" style="max-width: 5rem;">
                                                    Qui sommes nous ?
                                                    <img src="../img/site/eupatoire.jpg" alt="" style="max-width: 5rem;">
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>