{% extends 'base.html.twig' %}

{% block title %}Reset your password
{% endblock %}

{% block body %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8 my-5 p-5 rounded bg-white">
				{% for flash_error in app.flashes('reset_password_error') %}
					<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
				{% endfor %}

				<h1>Mot de passe oublié</h1>

				{{ form_start(requestForm) }}
				{{ form_row(requestForm.email) }}
				<div>
					<small>
                        Entrer votre email, un lien vous sera envoyé pour le mettre à jour.
					</small>
				</div>

				<button class="btn btn-primary">Envoyer l'email de mise à jour</button>
				{{ form_end(requestForm) }}
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>


{% endblock %}
