<!-- Nav -->

<div class="container">
  <div class="row">
    <nav class="navbar navbar-expand-lg rounded bg-light my-5 p-3 ">
      <a class="navbar-brand fs-5 fw-bold" href="#">Futur logo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav fs-5 fw-bold">
          <li class="nav-item active">
            <a class="nav-link" href="#">Qui sommes-nous?</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Actualités</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Passer à l'action</a>
          </li>
        </ul>
      </div>
    </nav>

  </div>
</div>