<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row">
                <!-- Footer -->
<footer class="text-center text-lg-start text-muted shadow rounded bg-white">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Restez connectés avec la prairie :</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="https://www.facebook.com/groups/956625274971224" target="_blank" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        {# <a href="" target="_blank" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" target="_blank" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" target="_blank" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a> #}
        <a href="https://github.com/Riaulee/laprairie" target="_blank" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.helloasso.com/associations/la-passerelle-jardin-communautaire" target="_blank" class="me-4 text-reset">
          <i class="fa-solid fa-h"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Collectif La Prairie
            </h6>
            <p>
              Merci d'être venu sur notre site ! Si toutefois des informations manquent, n'hésitez pas à venir lors des horaires de
              permanence !
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          {# <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contributeurs
            </h6>
            <p>
              <a href="https://www.linkedin.com/in/aur%C3%A9lie-parant-2b70199b/" target="_blank" class="text-reset">Aurélie</a>
            </p>
            <p>
              <a href="#!" target="_blank" class="text-reset">Léna</a>
            </p>
            <p>
              <a href="#!" target="_blank" class="text-reset">Elena</a>
            </p>
            <p>
              <a href="#!" target="_blank" class="text-reset">Gabrielle</a>
            </p>
          </div> #}
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Liens utils
            </h6>
            <p>
              <a href="https://www.helloasso.com/associations/la-passerelle-jardin-communautaire" target="_blank" class="text-reset">Hello Asso</a>
            </p>
            <p>
              <a href="#!" target="_blank" class="text-reset">Actualités</a>
            </p>
            <p>
              <a href="#!" target="_blank" class="text-reset">Facebook</a>
            </p>
            <p>
              <a href="#!" target="_blank" class="text-reset">Instagram</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> 14 rue des rosier, 72000 Le Mans</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@example.com
            </p>
            <p><i class="fa-solid fa-hand me-3"></i> Permanence le mardi après-midi</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  <!-- Copyright -->
    <div class="text-center p-4" >
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">CollectifLaPrairie</a>
    </div>
    <!-- Copyright -->
    
  </footer>
  <!-- Footer -->
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>