<div id="header-wrapper">
    <header id="header" class="container">

        <!-- Logo -->
        <div id="logo">
            Futur LOGO
        </div>

        <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#formulaireConnexion"
                        data-backdrop="false" aria-controls="offcanvasRight">
                        <i class="fa-solid fa-circle-user" id="connectionButton"></i></button>
                        
                        <a href="{{ path('app_login') }}" data-bs-toggle="offcanvas" data-bs-target="#formulaireConnexion">
                            Afficher l'offcanvas
                        </a>

        {# {{ include('security/login.html.twig') }} #}
    </header>
</div>